<mat-action-list>
  <div *ngFor="let beast of beastList,last as last">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{beast.Race}}
        </mat-panel-title>
        <mat-panel-description>
          {{beast.Size}}
          {{beast.Type}}
          {{beast.HD}}HD
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p *ngIf="beast['Natural Armor']">Natural Armor: {{beast['Natural Armor']}}</p>
      <p *ngIf="beast['Natural Attacks']">Natural Attacks: {{beast['Natural Attacks']}}</p>
      <p *ngIf="beast['Special Attacks']">Special Attacks: {{beast['Special Attacks']}}</p>
      <p *ngIf="beast['Spell-like abilities']">Spell-like abilities: {{beast['Spell-like abilities']}}</p>
      <p *ngIf="beast['Other Special Abilities']">Other Special Abilities: {{beast['Other Special Abilities']}}</p>
      <p *ngIf="beast['LowLight Vision']">LowLight Vision: {{beast['LowLight Vision']}}</p>
      <p *ngIf="beast['Darkvision']">Darkvision: {{beast['Darkvision']}}</p>
      <p *ngIf="beast['Other Senses']">Other Senses: {{beast['Other Senses']}}</p>
      <p *ngIf="beast['Immunities']">Immunities: {{beast['Immunities']}}</p>
      <p *ngIf="beast['Vulnerabilities']">Vulnerabilities: {{beast['Vulnerabilities']}}</p>
      <p *ngIf="beast['Energy Resistance']">Energy Resistance: {{beast['Energy Resistance']}}</p>
      <p *ngIf="beast['Spell Resistance']">Spell Resistance: {{beast['Spell Resistance']}}</p>
      <p *ngIf="beast['Damage Reduction']">Damage Reduction: {{beast['Damage Reduction']}}</p>
      <p *ngIf="beast['Fast Healing']">Fast Healing: {{beast['Fast Healing']}}</p>
      <p *ngIf="beast['Bonus Essentia']">Bonus Essentia: {{beast['Bonus Essentia']}}</p>
      <p *ngIf="beast['Other Special Qualities']">Other Special Qualities: {{beast['Other Special Qualities']}}</p>
      <p *ngIf="beast['Str']">Str: {{beast['Str']}}</p>
      <p *ngIf="beast['Dex']">Dex: {{beast['Dex']}}</p>
      <p *ngIf="beast['Con']">Con: {{beast['Con']}}</p>
      <p *ngIf="beast['Int']">Int: {{beast['Int']}}</p>
      <p *ngIf="beast['Wis']">Wis: {{beast['Wis']}}</p>
      <p *ngIf="beast['Cha']">Cha: {{beast['Cha']}}</p>
      <p *ngIf="beast['Racial Skills']">Racial Skills: {{beast['Racial Skills']}}</p>
      <p *ngIf="beast['Bonus Feat(s)']">Bonus Feat(s): {{beast['Bonus Feat(s)']}}</p>
      <p *ngIf="beast['Src']">Src: {{beast['Src']}}</p>
      <p *ngIf="beast['Pg']">Pg: {{beast['Pg']}}</p>
      <p *ngIf="beast['AltSrc']">AltSrc: {{beast['AltSrc']}}</p>


    </mat-expansion-panel>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </div>
</mat-action-list>
