<mat-form-field>
  <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto" placeholder="Search">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of filteredBeastList | async" [value]="option['Race']">
    {{option['Race']}}
  </mat-option>
</mat-autocomplete>
<mat-accordion>
  <mat-action-list>
    <mat-expansion-panel *ngFor="let beast of filteredBeastList| async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{beast['name']}}
        </mat-panel-title>
        <mat-panel-description>
          {{beast['size']}} - {{beast['type']}} - {{beast['hit_dice']}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <p *ngIf="beast['family']">family: {{beast['family']}}</p>
        <p *ngIf="beast['name']">name: {{beast['name']}}</p>
        <p *ngIf="beast['size']">size: {{beast['size']}}</p>
        <p *ngIf="beast['type']">type: {{beast['type']}}</p>
        <p *ngIf="beast['descriptor']">descriptor: {{beast['descriptor']}}</p>
        <p *ngIf="beast['hit_dice']">hit_dice: {{beast['hit_dice']}}</p>
        <p *ngIf="beast['initiative']">initiative: {{beast['initiative']}}</p>
        <p *ngIf="beast['speed']">speed: {{beast['speed']}}</p>
        <p *ngIf="beast['armor_class']">armor_class: {{beast['armor_class']}}</p>
        <p *ngIf="beast['base_attack']">base_attack: {{beast['base_attack']}}</p>
        <p *ngIf="beast['grapple']">grapple: {{beast['grapple']}}</p>
        <p *ngIf="beast['attack']">attack: {{beast['attack']}}</p>
        <p *ngIf="beast['full_attack']">full_attack: {{beast['full_attack']}}</p>
        <p *ngIf="beast['space']">space: {{beast['space']}}</p>
        <p *ngIf="beast['reach']">reach: {{beast['reach']}}</p>
        <p *ngIf="beast['special_attacks']">special_attacks: {{beast['special_attacks']}}</p>
        <p *ngIf="beast['special_qualities']">special_qualities: {{beast['special_qualities']}}</p>
        <p *ngIf="beast['skills']">skills: {{beast['skills']}}</p>
        <p *ngIf="beast['feats']">feats: {{beast['feats']}}</p>
        <p *ngIf="beast['epic_feats']">epic_feats: {{beast['epic_feats']}}</p>
        <p *ngIf="beast['saves']">saves: {{beast['saves']}}</p>
        <p *ngIf="beast['abilities']">abilities: {{beast['abilities']}}</p>
        <p *ngIf="beast['environment']">environment: {{beast['environment']}}</p>
        <p *ngIf="beast['organization']">organization: {{beast['organization']}}</p>
        <p *ngIf="beast['challenge_rating']">challenge_rating: {{beast['challenge_rating']}}</p>
        <p *ngIf="beast['treasure']">treasure: {{beast['treasure']}}</p>
        <p *ngIf="beast['alignment']">alignment: {{beast['alignment']}}</p>
      </ng-template>
    </mat-expansion-panel>
  </mat-action-list>
</mat-accordion>
