<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input type="search" matInput [formControl]="searchControl" placeholder="Search">
    <button mat-button *ngIf="searchControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchControl.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<mat-accordion>
  <mat-action-list>
    <mat-expansion-panel *ngFor="let beast of filteredMonsterList| async" (afterExpand)="loadFulltext(beast)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{beast['name']}}
        </mat-panel-title>
        <mat-panel-description>
          <button mat-icon-button type="button" (click)="addToDashboard($event,beast)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div [innerHTML]="beast.getFulltext()"></div>
      </ng-template>
    </mat-expansion-panel>
  </mat-action-list>
</mat-accordion>
